<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BrnoWithKids</title>
  </head>
  <body>
    <header>
      <h1 class="header__title">Brno with Kids</h1>
      <nav>
        <a href="menu.html">Hamburger</a>
      </nav>
    <main class="container">
      <section class="main__pic">
        <img src="" alt="picture of family">
      </section>
      <section class="main__desc">
        <h2>O nás</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Non laborum id, quisquam ratione culpa sed dolore consequuntur laudantium consequatur. Aperiam magnam commodi placeat sequi optio necessitatibus ab consequuntur inventore. Natus!</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Suscipit assumenda impedit ullam omnis rerum quia deserunt commodi architecto quasi nisi, ut facilis molestiae ad praesentium nobis magnam! Libero, quasi facere.</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ullam quo doloribus est perspiciatis adipisci fugiat, minus saepe. Minima quibusdam laudantium aliquid unde repellat, cupiditate id qui voluptatem dolorum delectus debitis?</p>
      </section>
    </main>
    <footer>
      <button type="text">Contact</button>
      <a href="https://www.facebook.com/VicinisNGO"><img src="icons/iconfinder_facebook_386622.png" alt="facebook icon"></a>
    </footer>
  </body>
</html>
