html {
  box-sizing: border-box;
}
*,
*:before,
*.after {
  box-sizing: inherit;
}

body {
  font-family: 'PT Sans', sans-serif;
  padding: 30px;
}

.header__title {
  font-family: 'Yeseva One', cursive;
}

.header__box {
  display: flex;
}

.main__desc p {
  text-align: justify;
}

.footer__links {
  display: flex;
  justify-content: space-around;

  
/* Main Page */
