html {
  box-sizing: border-box;
}
*,
*:before,
*.after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f3f9fa;
  color: rgb(24, 78, 119);
  font-family: 'PT Sans', sans-serif;
  font-size: 18px;
  line-height: 1.5;
}

/* hlavicka */
header {
  background-color: rgb(237, 174, 73);
}

.header__title a {
  font-family: 'Yeseva One', cursive;
  padding-left: 3rem;
  color: rgb(0, 121, 140);
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
}

.topbar {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

/* menu */
.nav-btn,
.nav-btn2 {
  width: 4rem;
  height: 4rem;
  padding: 0;
  border: none;
  background-color: transparent;
  background-size: contain;
  cursor: pointer;
}

.nav-btn {
  background-image: url('./icons/menu.png');
}

.nav-btn2 {
  background-image: url('./icons/crossmenu.jpg');
}

.nav-closed {
  display: none;
}

nav li {
  list-style: none;
  border-bottom: 2px solid rgb(237, 174, 73);
  max-width: 250px;
}

nav a {
  display: inline-block;
  text-decoration: none;
  padding: 1rem;
  color: rgb(0, 121, 140);
  font-weight: bold;
}

ul.menu {
  padding: 0;
}

/* main */
.container {
  background-color: white;
}
.container h2 {
  padding: 30px;
  margin: 0;
}

.container p {
  padding: 0 30px;
}

h2 {
  color: rgb(237, 174, 73);
}

/* cover picture */
.main__pic {
  width: 100%;
}

h2::after {
  content: '';
  display: block;
  width: 80px;
  height: 4px;
  background-color: rgb(0, 121, 140);
  margin-top: 20px;
  margin-left: -30px;
}

.main__desc p {
  text-align: justify;
}

.main__desc li {
  list-style-type: none;
}

.sipka {
  width: 25px;
}

.activities {
  padding-left: 10px;
}

/* medailonky */
.fotecka {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.profil {
  border: 1px solid lightgrey;
  border-radius: 5px;
  padding: 20px;
  max-width: 400px;
}

.team {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.profil {
  flex: 1 1 100%;
}

.profil {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;
}
.info {
  text-align: center;
}

.info h3 {
  color: rgb(0, 121, 140);
}
#info__country {
  color: rgb(237, 174, 73);
}

.info li {
  list-style-type: none;
}

/* days out - výlety  */
.trip__foto img {
  max-width: 100%;
  padding: 20px;
}

.trip:hover {
  background-color: #f2e7da;
}

.trip__nazev {
  font-size: 25px;
  padding-left: 30px;
  font-family: 'Yeseva One', cursive;
  color: rgb(0, 121, 140);
}

.trip__podtitul {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  color: #888;
  padding-left: 30px;
}

.trip__detail {
  font-size: 15px;
  height: 400px;
  overflow-y: scroll;
  background-color: white;
}

/* patička */
.footer {
  background-color: rgb(0, 61, 91);
  color: white;
  text-align: center;
}
.footer__links {
  display: flex;
  justify-content: space-around;
}

.logo {
  width: 80px;
}

.page__menu img {
  width: 100%;
  max-height: 600px;
}

@media screen and (min-width: 900px) {
  /* menu */
  .navigation {
    flex-direction: row;
  }

  .nav-btn {
    display: none;
  }

  nav a {
    display: inline-block;
    text-decoration: none;
    margin-top: 0rem;
    margin-bottom: 0rem;
  }

  .nav-closed {
    display: block;
  }

  /* main */
  .container {
    max-width: 960px;
    background-color: white;
    margin: auto;
  }

  /* medailonky
  */

  .team {
    display: flex;
  }

  .profil {
    flex: 1 1 calc(100% / 2 - 10px);
  }

  .fotecka {
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }

  .info {
    align-items: center;
  }

  /* Health Care - stranka */
  .page__menu {
    display: flex;
    flex-wrap: wrap;
  }

  .page__menu--item {
    flex: 1 1 50%;
  }

  .pic__title {
    background-color: rgba(0, 0, 0, 0.7);
    text-align: center;
    transform: translateY(-400%);
    color: white;
    padding: 20px;
  }

  /*pokus vylety*/
  .vylety {
    max-width: 100%;
    margin: 30px auto;
  }

  .trip {
    display: flex;
    align-items: flex-start;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.9);
    cursor: pointer;
    border-radius: 4px;
  }

  /* .trip:hover {
    background-color: #f2e7da;
  } */

  .trip + .trip {
    margin-top: 10px;
  }

  .trip__foto {
    flex: 0 0 50%;
    margin: 10px;
  }

  .trip__foto img {
    display: block;
    width: 100%;
    border-radius: 4px;
    transition: transform 2s;
  }

  .trip__foto:hover img {
    transform: scale(1.2);
  }

  .trip__detail {
    flex: 0 0 50%;
    font-size: 15px;
    overflow-y: scroll;
    background-color: white;
  }

  .trip__popis {
    margin-top: 10px;
  }

  /*pokus page menu item*/
  .page__menu--item {
    display: block;
    align-items: flex-start;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.9);
    cursor: pointer;
    border-radius: 4px;
    width: 50%;
  }

  .page__menu--item:hover {
    background-color: #f2e7da;
  }
}

/*kurim box
  .kurim {
    display: flex;
    align-items: flex-start;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.90);
    cursor: pointer;
    border-radius: 4px;
  }
  
  .kurim:hover {
    background-color: #f2e7da;
  }
  
  .kurim + .kurim {
    margin-top: 10px;
  }
  
  .kurim__foto {
    flex: 0 0 50%;
    margin-right: 20px;
    margin-top: 10px;
    margin: auto;
    margin-left: 20px;
    margin-right: 20px;
  }
  
  .kurim__foto img {
    display: flex;
    width: 100%;
    border-radius: 4px;
    margin: auto;
  }
  
  .kurim__foto:hover {
    background-color: #f2e7da;
  }
  
  .kurim__detail {
    flex: 1;
    font-size: 15px;
  }
  
  .kurim__nazev {
    font-size: 25px;
    padding-left: 30px;
    font-family: 'Yeseva One', cursive;
    color: rgb(0, 121, 140);
  }
  
  .kurim__podtitul {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: rgb(138, 136, 31);
    padding-left: 30px;
  }
  
  .kurim__popis {
    margin-top: 10px;
    }
  */
