html {
  box-sizing: border-box;
}
*,
*:before,
*.after {
  box-sizing: inherit;
}

body {
  font-family: 'PT Sans', sans-serif;
}

.header__title {
  font-family: 'Yeseva One', cursive;
}

.header__box {
  display: flex;
}

/* Main Page */
